.notfound {
  display: grid;
  grid-template-columns: 0 minmax(0, 40rem) 0;
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-block: 4rem;
  animation: 1s .5s both fade-in;
  text-align: center;

  > * {
    grid-column: 2;
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--size-2);
    font-weight: normal;
    margin: 0;
  }
}
.notfound-header {
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-image:
    linear-gradient(
      to bottom,
      transparent 25%,
      var(--color-background)
    ),
    var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 4 / 3;
  display: grid;
  align-content: end;
  padding: 2rem;
}

.notfound-description {
  font-size: var(--size-0);
  line-height: var(--line-text);
  text-wrap: balance;

  a {
    color: var(--color-accent);

    &:hover {
      text-decoration: none;
    }
  }
}
