.notfound {
  display: grid;
  grid-template-columns: 0 minmax(0, 40rem) 0;
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 4rem;
  text-align: center;

  > * {
    grid-column: 2;
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--size-2);
    font-weight: normal;
    margin: 0;
  }
}

.notfound-description {
  font-size: var(--size-0);
  line-height: var(--line-text);
  text-wrap: balance;

  a {
    color: var(--color-accent);

    &:hover {
      text-decoration: none;
    }
  }
}
