@property --img-fade-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}
.post {
  display: grid;
  grid-template-columns: 0 minmax(0, 40rem) 0;
  grid-template-rows: 85vh;
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 4rem;

  > * {
    grid-column: 2;
  }
}
.post-header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 0 minmax(0, 40rem) 0;
  column-gap: 2rem;
  justify-content: center;
  align-content: end;
  color: white;
  padding-bottom: 2rem;

  > * {
    grid-column: 2;
  }
  &:hover .post-title svg {
    opacity: 1;
  }

  &.is-link {
    text-decoration: none;
    grid-template-columns: 0 minmax(0, 1000px) 0;

    @media (min-width: 850px) {
      column-gap: 4rem;
    }
  }
}
.post-navigation {
  z-index: 1;
  display: flex;
  column-gap: 1rem;
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: center;

  a {
    background-color: var(--color-background);
    border-radius: 50%;
    color: var(--color-accent);
    padding: 1rem;
    transition: box-shadow 200ms;
    box-shadow: 0 0 0 0 var(--color-background);

    &:hover {
      box-shadow: 0 0 0 10px var(--color-background);
    }
    &:active {
      box-shadow: 0 0 0 0 var(--color-background);
    }
  }
  svg {
    display: block;
    width: 2em;
    aspect-ratio: 1;
    height: auto;
    fill: currentColor;
  }

  [rel="prev"] {
    margin-right: auto;
  }
  [rel="next"] {
    margin-left: auto;
  }

  @media (width <= 850px) {
    display: none;
  }
}
.post-title {
  font-family: var(--font-display);
  width: fit-content;
  font-size: var(--size-3);
  font-weight: normal;
  margin: 0;
  z-index: 2;
  color: currentColor;
  animation: fade-in-up 1s both;

  svg {
    width: 2rem;
    opacity: 0;
    transition: opacity 200ms;
  }
}

.post-info {
  font-size: var(--size--1);
  z-index: 2;
  display: flex;
  margin: 0.5em 0;
  animation: fade-in-up 1s both;

  > * {
    padding-block: 0.25em;
  }
}
.post-date {
  color: var(--color-accent);
}
.post-image {
  --img-fade-color: var(--color-background);
  grid-column: 1 / -1;
  grid-row: 1;
  overflow: hidden;
  background-image:
    linear-gradient(var(--img-fade-color), var(--img-fade-color)),
    linear-gradient(
    to bottom,
    transparent 25%,
    var(--color-background)
  ),
    var(--image);
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-position: var(--position-x) var(--position-y);
  background-size: cover;
  animation: img-fade-in 1s forwards;

  @media (width > 850px) {
    width: min(100% - 4rem, 2000px);
    height: calc(100% - 2rem);
    border-radius: 1rem;
    align-self: end;
    justify-self: center;
  }
}
.post-content {
  grid-column: 2;
  font-size: var(--size-0);
  line-height: var(--line-text);
  max-width: 45em;
  text-wrap: pretty;
  animation: fade-in 1s both;
  animation-delay: .5s;

  p {
    margin-block: 0 1lh;
  }
}
.post-footer-nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: space-between;
  border-top: solid 1px var(--color-line);
  border-bottom: solid 1px var(--color-line);
  padding-block: 2em;
  margin-bottom: 4em;
  column-gap: 2em;

  svg {
    width: 1.1em;
    aspect-ratio: 1;
    height: auto;
    fill: var(--color-accent);
  }

  strong {
    font-weight: normal;
    font-family: var(--font-display);
    font-size: var(--size-1);
  }

  span {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
  }

  > a {
    text-decoration: none;
    color: currentColor;
    display: grid;
    row-gap: 0.5em;
    color: var(--color-accent);

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}
.post-next {
  grid-column: 2;
  span {
    justify-content: end;
  }
  svg {
    margin-right: -0.2em;
  }
}
.post-prev {
  grid-column: 1;
}

.post-latest {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--color-background-highlight);
  animation: fade-in 1s both;
  animation-delay: 0.5s;
  border: solid 1px var(--color-line);

  @media (width > 850px) {
    max-width: min(1000px, 100% - 4rem);
    border-radius: 1rem;
    margin-top: clamp(2rem, 5vmin, 100px);
  }
}
.post-latest-list {
  list-style-type: "";
  margin: 0;
  padding: 0;

  > li {
    border-bottom: solid 1px var(--color-line);
  }
}
.post-list-item {
  text-decoration: none;
  color: var(--color-text);
  display: grid;
  column-gap: min(2rem, 5vw);
  row-gap: 1rem;
  padding: 2rem;
  transition: background-color 200ms;
  grid-template-areas:
    "title"
    "content";

  &:hover {
    background-color: var(--color-background-highlight2);
    .post-list-title svg {
      opacity: 1;
    }
    .post-list-image {
      filter: none;
    }
    .post-list-title {
      transform: translateX(0.5rem);
    }
    .post-list-content {
      transform: translateX(0.5rem);
    }
  }

  @media (width > 400px) {
    grid-template-columns: min(240px, 30vw) 1fr;
    grid-template-areas:
      "image title"
      "image content";
  }
}
.post-list-image {
  grid-area: image;
  width: 100%;
  border-radius: 0.5rem;
  display: none;
  transition: filter 200ms;
  filter: sepia(50%) grayscale(50%);

  @media (width > 400px) {
    display: block;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: var(--position-x) var(--position-y);
  }
  @media (width > 600px) {
    aspect-ratio: 16/9;
  }
}
.post-list-title {
  grid-area: title;
  align-self: end;
  font-family: var(--font-display);
  font-size: var(--size-1);
  font-weight: normal;
  margin: 0;
  width: fit-content;
  transition: transform 200ms;
  svg {
    opacity: 0;
    width: 1rem;
    transition: opacity 200ms;
    fill: currentColor;
  }
}
.post-list-content {
  grid-area: content;
  font-size: var(--size--1);
  line-height: var(--line-text);
  transition: transform 200ms;
  p {
    margin: 0;
    display: inline;
  }
}
.post-latest-footer {
  background-color: var(--color-background-highlight);
}
.post-latest-cta {
  color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
  text-decoration: none;
  min-height: 5rem;

  &:hover {
    text-decoration: underline;
    color: var(--color-text);
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes img-fade-in {
  to {
    --img-fade-color: transparent;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
