---
layout: layouts/base.vto
---
{{ set latestPost = search.page("type=post", "date=desc") }}

{{
  layout "templates/post.vto" {
    title: latestPost.title,
    date: latestPost.date,
    img: latestPost.img,
    color: latestPost.color,
    url: latestPost.url,
    readingInfo,
  }
}}
  {{ latestPost.content |> md }}
{{ /layout }}
