---
layout: layouts/base.vto
---

{{ set posts = search.pages("type=post", "date=desc" ) }}

<nav class="menu">
  <ul class="menu-posts">
    {{ for post of posts }}
    <li>
      <a href="{{ post.url }}" class="menu-post">
        <strong class="menu-post-title">{{ post.title }}</strong>
        <time class="menu-post-date" datetime='{{ post.date |> date("DATETIME") }}'>
          {{ post.date |> date("DATE") }}
        </time>
      </a>
    </li>
    {{ /for }}
  </ul>
</nav>
