@import "styles/variables.css";
@import "styles/reset.css";
@import "styles/transitions.css";

@import "styles/components/post.css";
@import "styles/components/archive.css";
@import "styles/components/footer.css";
@import "styles/components/notfound.css";
@import "styles/components/newsletter.css";
@import "styles/components/linkactive.css";
