* {
  box-sizing: border-box;
}
html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-text);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-regular);
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: var(--font-bold);
  color: var(--color-text-strong);
}
::selection {
  background-color: var(--color-selection);
  color: var(--color-text-strong);
}
a {
  text-underline-offset: 0.2em;
}
