* {
  box-sizing: border-box;
}
html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-text);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: var(--font-bold);
}
