@font-face {
  font-family: "display";
  src: url("/fonts/pstimes-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-display: display, serif;
  --font-text: text, system-ui, sans-serif;

  /* Bold */
  --font-regular: 350;
  --font-bold: 600;

  /* Colors */
  --color-background: #ffede6;
  --color-background-highlight: color-mix(
    in srgb,
    var(--color-background) 93%,
    var(--color-text)
  );
  --color-background-highlight2: color-mix(
    in srgb,
    var(--color-background) 87%,
    var(--color-text)
  );
  --color-text: #232426;
  --color-text-strong: black;
  --color-accent: #c24c0c;
  --color-selection: color-mix(
    in srgb,
    var(--color-accent) 15%,
    var(--color-background)
  );
  --color-line: color-mix(
    in srgb,
    var(--color-accent) 20%,
    var(--color-background)
  );
  --color-line2: color-mix(
    in srgb,
    var(--color-text) 12%,
    var(--color-background)
  );

  /* Line heights */
  --line-base: 1.4;
  --line-text: 1.6;

  @media (prefers-color-scheme: dark) {
    /* Colors */
    --color-background: #24201e;
    --color-background-highlight: color-mix(
      in srgb,
      var(--color-background) 96%,
      var(--color-text)
    );
    --color-background-highlight2: color-mix(
      in srgb,
      var(--color-background) 93%,
      var(--color-text)
    );
    --color-text: #e2e3e4;
    --color-text-strong: white;
    --color-accent: #e66a28;
  }
}

/* To force dark mode */
.dark-scheme {
  --color-background: #24201e;
  --color-text: #e2e3e4;
  --color-text-strong: white;
  --color-accent: #e66a28;
  --color-selection: color-mix(
    in srgb,
    var(--color-accent) 15%,
    var(--color-background)
  );
}

/* deno-fmt-ignore-start */
/* Fluid typography: https://utopia.fyi/blog/clamp/ */
:root {
  --unit: 1rem;
  --min-width: 22;
  --max-width: 75;
  --width-diff: calc(var(--max-width) - var(--min-width));
  --min-scale: 1.35;
  --max-scale: 1.4;

  /* Size -1 */
  --size--1-min: 0.875;
  --size--1-max: 1;
  --size--1: clamp(
    var(--size--1-min) * var(--unit),
    (
      -1 * var(--min-width)
        * (
        (var(--size--1-max) - var(--size--1-min)) / var(--width-diff)
      )
        + var(--size--1-min)
    )
      * var(--unit)
      + (var(--size--1-max) - var(--size--1-min)) / var(--width-diff) * 100vw,
    var(--size--1-max) * var(--unit)
  );

  /* Size 0 */
  --size-0-min: 1;
  --size-0-max: 1.25;
  --size-0: clamp(
    var(--size-0-min) * var(--unit),
    (
      -1 * var(--min-width)
        * (
        (var(--size-0-max) - var(--size-0-min)) / var(--width-diff)
      )
        + var(--size-0-min)
    )
      * var(--unit)
      + (var(--size-0-max) - var(--size-0-min)) / var(--width-diff) * 100vw,
    var(--size-0-max) * var(--unit)
  );

  /* Size 1 */
  --size-1-min: calc(var(--size-0-min) * var(--min-scale));
  --size-1-max: calc(var(--size-0-max) * var(--max-scale));
  --size-1: clamp(
    var(--size-1-min) * var(--unit),
    (
      -1 * var(--min-width)
        * (
        (var(--size-1-max) - var(--size-1-min)) / var(--width-diff)
      )
        + var(--size-1-min)
    )
      * var(--unit)
      + (var(--size-1-max) - var(--size-1-min)) / var(--width-diff) * 100vw,
    var(--size-1-max) * var(--unit)
  );

  /* Size 2 */
  --size-2-min: calc(var(--size-1-min) * var(--min-scale));
  --size-2-max: calc(var(--size-1-max) * var(--max-scale));
  --size-2: clamp(
    var(--size-2-min) * var(--unit),
    (
      -1 * var(--min-width)
        * (
        (var(--size-2-max) - var(--size-2-min)) / var(--width-diff)
      )
        + var(--size-2-min)
    )
      * var(--unit)
      + (var(--size-2-max) - var(--size-2-min)) / var(--width-diff) * 100vw,
    var(--size-2-max) * var(--unit)
  );

  /* Size 3 */
  --size-3-min: calc(var(--size-2-min) * var(--min-scale));
  --size-3-max: calc(var(--size-2-max) * var(--max-scale));
  --size-3: clamp(
    var(--size-3-min) * var(--unit),
    (
      -1 * var(--min-width)
        * (
        (var(--size-3-max) - var(--size-3-min)) / var(--width-diff)
      )
        + var(--size-3-min)
    )
      * var(--unit)
      + (var(--size-3-max) - var(--size-3-min)) / var(--width-diff) * 100vw,
    var(--size-3-max) * var(--unit)
  );
}
