/* deno-fmt-ignore-file */

@font-face {
  font-family: "PS Times";
  src: url("/fonts/pstimes-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "PS Times", serif;
  --font-text: Inter, system-ui, sans-serif;

  /* Bold */
  --font-regular: 400;
  --font-bold: 600;

  /* Colors */
  --color-background: #FFF6F3;
  --color-background-highlight: #FFEDE6;
  --color-background-highlight2: #FFF2ED;
  --color-text: #5B5856;
  --color-text-strong: #151413;
  --color-accent: #E66A28;
  --color-button-text: white;
  --color-button: #432906;
  --color-line: #E9E1DD;
  --color-error: #AA0000;
  --color-error-background: #FBEBEB;
  --color-selection: color-mix(
    in srgb,
    var(--color-accent) 15%,
    var(--color-background)
  );

  /* Line heights */
  --line-base: 1.4;
  --line-text: 1.6;

  @media (prefers-color-scheme: dark) {
    /* Colors */
    --color-background: #14161a;
    --color-background-highlight: #181a1e;
    --color-background-highlight2: #1e2024;
    --color-text: #9c9ea4;
    --color-text-strong: white;
    --color-line: #24262a;
    --color-button: white;
    --color-button-text: #14161a;
  }
}

/* To force dark mode */
.dark-scheme {
  --color-background: #14161a;
  --color-background-highlight: #181a1e;
  --color-background-highlight2: #1e2024;
  --color-text: #9c9ea4;
  --color-text-strong: white;
  --color-line: #24262a;
  --color-button: white;
  --color-button-text: #14161a;
}

/* Fluid typography: https://utopia.fyi/blog/clamp/ */
:root {
  --unit: 1rem;
  --min-width: 22;
  --max-width: 75;
  --width-diff: calc(var(--max-width) - var(--min-width));
  --min-scale: 1.35;
  --max-scale: 1.4;

  /* Size -1 */
  --size--1-min: 0.875;
  --size--1-max: 1;
  --size--1: clamp(
    var(--size--1-min) * var(--unit),
    ( -1 * var(--min-width) * ((var(--size--1-max) - var(--size--1-min)) / var(--width-diff)) + var(--size--1-min)) * var(--unit) + (var(--size--1-max) - var(--size--1-min)) / var(--width-diff) * 100vw,
    var(--size--1-max) * var(--unit)
  );

  /* Size 0 */
  --size-0-min: 1;
  --size-0-max: 1.25;
  --size-0: clamp(
    var(--size-0-min) * var(--unit),
    (-1 * var(--min-width) * ((var(--size-0-max) - var(--size-0-min)) / var(--width-diff)) + var(--size-0-min)) * var(--unit) + (var(--size-0-max) - var(--size-0-min)) / var(--width-diff) * 100vw,
    var(--size-0-max) * var(--unit)
  );

  /* Size 1 */
  --size-1-min: calc(var(--size-0-min) * var(--min-scale));
  --size-1-max: calc(var(--size-0-max) * var(--max-scale));
  --size-1: clamp(
    var(--size-1-min) * var(--unit),
    (-1 * var(--min-width) * ((var(--size-1-max) - var(--size-1-min)) / var(--width-diff)) + var(--size-1-min)) * var(--unit) + (var(--size-1-max) - var(--size-1-min)) / var(--width-diff) * 100vw,
    var(--size-1-max) * var(--unit)
  );

  /* Size 2 */
  --size-2-min: calc(var(--size-1-min) * var(--min-scale));
  --size-2-max: calc(var(--size-1-max) * var(--max-scale));
  --size-2: clamp(
    var(--size-2-min) * var(--unit), (-1 * var(--min-width) * ((var(--size-2-max) - var(--size-2-min)) / var(--width-diff)) + var(--size-2-min)) * var(--unit) + (var(--size-2-max) - var(--size-2-min)) / var(--width-diff) * 100vw,
    var(--size-2-max) * var(--unit)
  );

  /* Size 3 */
  --size-3-min: calc(var(--size-2-min) * var(--min-scale));
  --size-3-max: calc(var(--size-2-max) * var(--max-scale));
  --size-3: clamp(
    var(--size-3-min) * var(--unit),
    (-1 * var(--min-width) * ((var(--size-3-max) - var(--size-3-min)) / var(--width-diff)) + var(--size-3-min)) * var(--unit) + (var(--size-3-max) - var(--size-3-min)) / var(--width-diff) * 100vw,
    var(--size-3-max) * var(--unit)
  );
}
