/* deno-fmt-ignore-file */

@font-face {
  font-family: "PS Times";
  src: url("/fonts/pstimes-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "PS Times", serif;
  --font-text: Inter, system-ui, sans-serif;
  --pagefind-ui-scale: 1;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: Inter, system-ui, sans-serif;

  /* Font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  /* Colors */
  --color-background: #f6f2f1;
  --color-background-highlight: #f5f1f0;
  --color-background-highlight2: #faf7f3;
  --color-background-search: #e8e4e1;
  --color-text: #262524;
  --color-text-strong: #161514;
  --color-text-blockquote: #977055;
  --color-line: #ded9d7;
  --color-button: #161514;
  --color-button-text: #fff;
  --color-input-icon: #e9e5db;
  --color-error: #a00;
  --color-accent: #d63e1f;
  --color-error-background: #fbebeb;
  --pagefind-ui-text: #161514;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: rgba(0, 0, 0, 0.1);
  --pagefind-ui-tag: #eeeeee;
  --color-selection: color-mix(in srgb,
      var(--color-accent) 15%,
      var(--color-background));

  /* Line heights */
  --line-base: 1.4;
  --line-text: 1.6;

  @media (prefers-color-scheme: dark) {
    /* Colors */
    --color-background: #161514;
    --color-background-highlight: #181716;
    --color-background-highlight2: #1c1b1a;
    --color-background-search: #222120;
    --color-text: #a8a7a6;
    --color-text-strong: #fff;
    --color-text-blockquote: #977055;
    --color-line: #242322;
    --color-button: #fff;
    --color-button-text: #161514;
    --color-input-icon: #a8a7a6;
    --color-accent: #f3825c;
    --pagefind-ui-text: #a8a7a6;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: rgba(255, 255, 255, 0.07);
    --pagefind-ui-tag: #eeeeee;
  }
}

/* To force dark mode */
.dark-scheme {
    --color-background: #161514;
    --color-background-highlight: #181716;
    --color-background-highlight2: #1c1b1a;
    --color-background-search: #222120;
    --color-text: #a8a7a6;
    --color-text-strong: #fff;
    --color-text-blockquote: #977055;
    --color-line: #242322;
    --color-button: #fff;
    --color-button-text: #161514;
    --color-input-icon: #a8a7a6;
    --color-accent: #f3825c;
    --pagefind-ui-text: #a8a7a6;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: rgba(255, 255, 255, 0.07);
    --pagefind-ui-tag: #eeeeee;
}

/* Fluid typography: https://utopia.fyi/blog/clamp/ */
:root {
  --unit: 1rem;
  --min-width: 22;
  --max-width: 75;
  --width-diff: calc(var(--max-width) - var(--min-width));
  --min-scale: 1.35;
  --max-scale: 1.4;

  /* Size -1 */
  --size--1-min: 0.875;
  --size--1-max: 1;
  --size--1: clamp(var(--size--1-min) * var(--unit),
      (-1 * var(--min-width) * ((var(--size--1-max) - var(--size--1-min)) / var(--width-diff)) + var(--size--1-min)) * var(--unit) + (var(--size--1-max) - var(--size--1-min)) / var(--width-diff) * 100vw,
      var(--size--1-max) * var(--unit));

  /* Size 0 */
  --size-0-min: 1;
  --size-0-max: 1.25;
  --size-0: clamp(var(--size-0-min) * var(--unit),
      (-1 * var(--min-width) * ((var(--size-0-max) - var(--size-0-min)) / var(--width-diff)) + var(--size-0-min)) * var(--unit) + (var(--size-0-max) - var(--size-0-min)) / var(--width-diff) * 100vw,
      var(--size-0-max) * var(--unit));

  /* Size 1 */
  --size-1-min: calc(var(--size-0-min) * var(--min-scale));
  --size-1-max: calc(var(--size-0-max) * var(--max-scale));
  --size-1: clamp(var(--size-1-min) * var(--unit),
      (-1 * var(--min-width) * ((var(--size-1-max) - var(--size-1-min)) / var(--width-diff)) + var(--size-1-min)) * var(--unit) + (var(--size-1-max) - var(--size-1-min)) / var(--width-diff) * 100vw,
      var(--size-1-max) * var(--unit));

  /* Size 2 */
  --size-2-min: calc(var(--size-1-min) * var(--min-scale));
  --size-2-max: calc(var(--size-1-max) * var(--max-scale));
  --size-2: clamp(var(--size-2-min) * var(--unit), (-1 * var(--min-width) * ((var(--size-2-max) - var(--size-2-min)) / var(--width-diff)) + var(--size-2-min)) * var(--unit) + (var(--size-2-max) - var(--size-2-min)) / var(--width-diff) * 100vw,
      var(--size-2-max) * var(--unit));

  /* Size 3 */
  --size-3-min: calc(var(--size-2-min) * var(--min-scale));
  --size-3-max: calc(var(--size-2-max) * var(--max-scale));
  --size-3: clamp(var(--size-3-min) * var(--unit),
      (-1 * var(--min-width) * ((var(--size-3-max) - var(--size-3-min)) / var(--width-diff)) + var(--size-3-min)) * var(--unit) + (var(--size-3-max) - var(--size-3-min)) / var(--width-diff) * 100vw,
      var(--size-3-max) * var(--unit));
}