---
layout: ./base.vto
---

<main class="notfound">
  <header
    class="dark-scheme notfound-header"
    style="--image: url('{{ image }}')"
  >
    <h1>{{ title }}</h1>
  </header>

  <div class="notfound-description">
    {{ description |> md }}
  </div>
</main>
