<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - José Luis Antúnez</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="expect" blocking="render" href="#footer">
  </head>
  <body>
    {{ content }}

    <aside class="newsletter">
      <h2>{{ newsletter.title }}</h2>

      {{ newsletter.intro |> md }}

      <a class="newsletter-cta linkactive" href="{{ newsletter.cta.link }}">
        {{ newsletter.cta.text }}
      </a>
    </aside>

    <footer class="footer" id="footer">
      <a href="/archivos/" class="footer-menu linkactive">Archivo</a>
      <a href="/" class="footer-monograma">
        <img src="/img/jl.svg" alt="Monograma con las letras J y L de José Luis" inline>
      </a>
      <a href="https://github.com/oscarotero/Blook" class="footer-menu linkactive"
      >GitHub</a>
    </footer>
  </body>
</html>
