<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - José Luis Antúnez</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="expect" blocking="render" href="#footer">
  </head>
  <body>
    {{ content }}

    <aside class="newsletter">
      <h2>{{ newsletter.title }}</h2>

      {{ newsletter.intro |> md }}

      <a class="newsletter-cta linkactive" href="{{ newsletter.cta.link }}">
        {{ newsletter.cta.text }}
      </a>
    </aside>

    <footer class="footer" id="footer">
      <a href="/archivos/" class="footer-menu linkactive" title="Archivos"
      >Archivos</a>
      <a href="/" class="footer-monograma linkactive" title="Inicio">
        <img
          src="/assets/jl.svg"
          alt="Monograma con las letras J y L de José Luis"
          inline
        >
      </a>
      <a
        href="https://github.com/jlantunez/Blook"
        class="footer-menu linkactive"
        title="GitHub"
      >GitHub</a>
    </footer>
    <script type="module" src="/script.js"></script>
  </body>
</html>
